
Button {
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-background-color: #3d424b;
    -fx-text-fill: #a0a7b4;
    -fx-padding: 2px 14px 2px 14px;
    -fx-border-color: #464c55;
    -fx-min-width: 72px;
}

Button:disabled {
    -fx-background-color: transparent;
}

VBox, AnchorPane {
    -fx-background-color: #21252b;
}

IconButton, JetBrainsButton {
    -fx-text-fill: #a0a7b4;
    -fx-background-color: transparent;
}

TextField {
    -fx-text-fill: #a0a7b4;
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 1px;
    -fx-border-color: #333841;
    -fx-prompt-text-fill: #838589;
}