
ToolBar {
    -fx-background-color: #2b2d30;
    -fx-border-color: #1e1f22;
    -fx-border-width: 0;
}

.split-pane {
    -fx-padding: 0;
}

.split-pane-divider {
    -fx-pref-width: 1;
    -fx-background-color: #1e1f22;
}

.split-pane-divider:vertical {
    -fx-pref-height: 2;
}

AnchorPane {
    -fx-background-color: #1e1f22;
}

.left-toolbar {
    -fx-border-width: 0 1 0 0;
}

#main-toolbar {
    -fx-border-width: 0 0 1 0;
}