
ToolBar, MenuBar {
    -fx-background-color: #2b2d30;
    -fx-border-color: #1e1f22;
    -fx-text-fill: #ffffff;
    -fx-border-width: 0;
}

.menu:hover, .menu-item:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.menu-item, .menu {
    -fx-pref-height: 20;
}

.menu-bar > .menu > * {
    -fx-pref-width: 200;
}

.menu-bar .menu {
    -fx-pref-height: 40;
}

.menu .label, .label {
    -fx-text-fill: #dfe1e5;
}

.context-menu {
    -fx-background-color: #2b2d30;
    -fx-border-width: 0;
    -fx-text-fill: #dfe1e5;
}

.split-pane {
    -fx-padding: 0;
}

.split-pane-divider {
    -fx-pref-width: 1;
    -fx-background-color: #1e1f22;
}

.split-pane-divider:vertical {
    -fx-pref-height: 2;
}

AnchorPane {
    -fx-background-color: #1e1f22;
    -fx-font-family: Inter;
}

.left-toolbar {
    -fx-border-width: 0 1 0 0;
}

#main-toolbar {
    -fx-border-width: 0 0 1 0;
}

#left-panel ToolBar:hover {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #1e1f22;
}

.tool-bar-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-pref-width: 26;
    -fx-pref-height: 26;
}

.tool-bar-button:hover, .tool-bar-button:selected {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.left-toolbar {
    -fx-alignment: top-center;
}